
*{
    box-sizing: border-box;
}
body{
    font-family: "Open sans", "Arial", "sans-serif";
    margin: 0 auto;
    position: relative;
    width: 1345px;
    }
    .wrapper{
        width: 1345px;
        margin: 0 auto;
        position: relative;
    }
    header{
        background: url('assets/xt_logo.png') no-repeat;
        height: 65px;
        width: 100%;
        background-position-x: 19px;
    }
ul{
    margin:0;
    padding:0;
}   
.title{
    font-size: 25px;
    letter-spacing: 0.1em;
    padding: 15px 20px;
    margin: 0;
    font-weight: normal;
    text-align: center;
    color: #3279b3;
    line-height: 1.5
}
.ring {
    float: left;
    width: 50%;
}
.quad-title {
    text-transform: uppercase;
    font-size: 30px;
    letter-spacing: 0.1em;
    display: inline-block;
    padding: 5px;
    color: #36839C;
}
.quad{
    width: 340px;
    height: 315px;
    padding: 5px;
    position: absolute;
}
.ring{
  padding:10px 15px;
  font-size: 18px;
  letter-spacing: 0.1em;
}
.ring li{
    font-size:12px;
    padding:5px;
    list-style-type: none;
}
.ring-title {
    text-decoration: underline;
    font-size: 15px;
    text-transform: uppercase;
}
.filter-box{
    text-align: center;
    width:100%;
    margin: 0 auto;
    padding: 20px;
    letter-spacing: 0.1em;
}

.filter-tags {
    display: inline-block;
    padding: 5px 20px;
}
.filter-tags input{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
.filter-tags label{
    font-size: 12px;
    text-transform: uppercase;
    padding:5px;
    letter-spacing: 0.2em;
}
.filter-box span{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #CCC;
    padding: 16px;
    background: #ccc;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
}
.quad2{
    left:20px;
    top:90px;
}
.quad3{
    right: 20px;
    top: 90px;
}
.quad0{
    right: 20px;
    top: 410px;
}
.quad1{
    left:20px;
    top:410px;
}
.filter-options{
    border: 1px solid #000;
    padding: 10px;
    position: relative;
}
.rings-container{
 max-height: 250px;
 overflow-y: auto;
}
/***custom Checkbox ***/
[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: absolute;
  left: -9999px;
}
[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

[type="checkbox"]:not(:checked) + label:before,
[type="checkbox"]:checked + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    background: #fff;
}
[type="checkbox"]:not(:checked) + label:after,
[type="checkbox"]:checked + label:after {
    content: '✔';
    position: absolute;
    top: 3px;
    left: 4px;
    font-size: 18px;
    line-height: 0.8;
    color: #000;
    transition: all .2s;
}

[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type="checkbox"]:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
[type="checkbox"]:disabled:checked + label:after {
  color: #999;
}
[type="checkbox"]:disabled + label {
  color: #aaa;
}
[type="checkbox"]:checked:focus + label:before,
[type="checkbox"]:not(:checked):focus + label:before {
  border: 2px dotted blue;
}

label:hover:before {
  border: 2px solid #4778d9!important;
}
.ring li span {
    float: left;
    padding: 0 5px;
    text-align: right;
    width: 31px;
}
footer{
    text-align: center;
    padding: 20px;
    font-size: 12px;
    letter-spacing: 0.1em;
}

.sweep {
    position: absolute;
    left: 47.4%;
    top: 13%;
    height: 86%;
    width: 75px;
    animation: sweep 6s linear infinite;
}

.gradient {
    background: linear-gradient(257deg, #00ff22 ,transparent 70%,transparent );
    height: 50%;
    position: relative;
    right: 40px;
}
.transparent {
    background: transparent;
}

@keyframes sweep {
    0% {
        opacity: 1;
        transform: rotate(0deg)
    }
    50% {
        opacity: 1;
        transform: rotate(360deg);
    }
    51% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

.dark-theme {
    background: black !important ;
    color: white;
}
.dark-theme-toggle {
    cursor: pointer;
    position: relative;
    left: 86vw;
    background: #2f87db;
    border-radius: 10px;
    padding: 10px;
    color: white;
    border: white;
    outline: none;
}

#snackbar {
        background: #363636;
        color: white;
        position: fixed;
        bottom: 0;
        width: 250px;
        padding: 15px;
        left: 42%;
        transform: translateY(54px);
        transition: transform 0.5s linear;
}
.close-icon {
    float: right;
    font-size: 12px;
    color: cornflowerblue;
    cursor: pointer;
    padding: 3px;
}
#snackbar.show {
    transform: translateY(0px);
}
.offline {
    filter: grayscale(80%);
}
.close-btn {
    text-decoration: none;
    font-size: 50px;
    float: right;
}

.dark-theme .sidenav {
    background: #fff;
    color: #000;
}
.sidenav {
    background: #000;
    color: #fff;
    padding: 30px;
}
